.Bannière {
    position: relative;
    margin: 70px 100px 50px 100px;
    height: 220px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeBanner {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        background-image: url(../assets/IMG.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: brightness(.8);
        z-index: -1;
    }
}

.Cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    margin: 70px 100px 50px 100px;
    border-radius: 20px;
    height: auto;

    .card-link {
        text-decoration: none;
        width: 25%;
        margin: 0 40px;
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }

    .card {
        cursor: pointer;
        // background-image: linear-gradient(to top, #a24747, #b94d4e, #d05454, #e75a5b, #ff6161);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        border-radius: 10px;
        height: 400px;
        width: 100%;
        margin: 50px 0 50px 0;
        display: flex;
        align-items: flex-end;


        & h2 {
            width: 150px;
            padding: 20px;
            margin: 0;
            font-weight: normal;
            font-size: larger;

        }
    }
}

//---------------------Responsive---------------------//

/* Desktop devices */

@media screen and (max-width: 1158px) {
    .Cards_container .card-link {
        width: 35%;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 858px) {
    .kasa-logo {
        height: 58px;
    }

    .Bannière {
        height: 150px;
        font-size: 40px;
    }

    .Cards_container .card {
        height: 350px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .kasa-nav {
        padding: 30px 50px 10px 50px;
        text-transform: uppercase;
    }

    .Bannière {
        margin: 30px 50px 10px 50px;
    }

    .Cards_container {
        background-color: white;
        margin: 30px 50px 10px 50px;

        .card-link {
            width: 100%;
            margin: 0;

            .card {
                margin: 30px 0 30px 0
            }
        }
    }

}

@media (max-width: 660px) {
    .kasa-logo {
        height: 45px;
    }

    .kasa-nav {
        .kasa-nav-liens a {
            font-size: medium;
            margin-left: 35px;
        }
    }

    .Bannière {
        font-size: 30px;
    }

}

@media (max-width: 457px) {
    .kasa-nav {
        padding: 20px 30px 10px 30px;

        .kasa-logo {
            height: 30px;
        }

        .kasa-nav-liens a {
            margin-left: 25px;
            font-size: small;
        }
    }

    .Bannière {
        height: 100px;
        font-size: medium;
        margin: 20px 30px 10px 30px;
    }

    .Cards_container {
        margin: 20px 30px 10px 30px;
        .card-link {
            .card {
            height: 300px;
            margin: 10px 0 10px 0

        }

        & h2 {
            font-size: medium;
        }
        }
        

    }

    .footer {
        font-size: small;

        & img {
            height: 30px;
        }
    }
}

