.SlideShow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 100px 30px 100px;

    .Slide {
        height: 416px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

    .SlideNumber {
        position: absolute;
        font-size: large;
        font-weight: bold;
        top: 84%;
        left: 49%;
        color: white
    }

    .arrowRight {
        position: absolute;
        height: 100px;
        top: 45%;
        right: 5%;
        cursor: pointer;
    }

    .arrowLeft {
        position: absolute;
        height: 100px;
        top: 45%;
        left: 5%;
        cursor: pointer;
    }


}

.Descriptif {
    color: #ff6060;

    .block {
        display: flex;
        justify-content: space-between;
        padding: 0 100px 30px 100px;

        .part1 {

            & h2 {
                font-size: 35px;
                font-weight: 400;
                margin: 0;
            }

            & p {
                margin-top: 5px;
                font-size: large;
            }

            .tags {
                display: flex;

                .tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: #ff6060;
                    color: white;
                    margin-right: 10px;
                    padding: 5px 20px 5px 20px;
                    width: auto;
                    font-size: 15px;
                }
            }
        }

        .part2 {
            display: flex;
            flex-direction: column;
            text-align: right;

            .name {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: large;

                & p {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100px;
                }

                .circle img {
                    background-color: #c4c4c4;
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;
                    margin-left: 10px;
                }

            }


        }
    }



    .description_equipements {
        display: flex;
        justify-content: space-between;
        padding: 0 100px 30px 100px;


    }

    .collapse {
        color: white;
        width: 45%;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        transition: height 0.3s ease-in-out;


        .header {
            background-color: #ff6060;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
            font-size: x-large;
        }



        .arrow {
            transition: transform .3s ease;
            cursor: pointer;
        }

        .arrow.rotate {
            transform: rotate(-180deg);
            transition: transform .3s ease;
        }

        & p {
            margin: 0;
            font-size: large;
        }

        .content {
            // max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            background-color: #f6f6f6;
            color: #ff6060;
            border-radius: 5px;
            padding: 0 0 0 20px;

            & p {
                padding: 10px 20px 10px 0;
                line-height: 30px;
            }


            & ul {
                margin: 0;
                padding: 10px 0 10px 0;

                & li {
                    list-style: none;
                    font-size: large;
                    margin-bottom: 5px;

                }
            }

        }

        .content.open {
            padding: 20px;
        }



    }
}

.Descriptif .description_equipements .collapse {
    margin: 0;
}

//-------------------- Responsive --------------------------------//

@media (max-width: 1650px) {
    .SlideShow {
        .arrowRight {
            right: 7%;
        }

        .arrowLeft {
            left: 7%;
        }
    }
}

@media (max-width: 1250px) {
    .SlideShow {
        .arrowRight {
            right: 8%;
        }

        .arrowLeft {
            left: 8%;
        }
    }
}

@media (max-width: 1020px) {
    .SlideShow {
        .arrowRight {
            right: 10%;
        }

        .arrowLeft {
            left: 10%;
        }
    }

    .Descriptif {
        .block {
            .part1 {
                margin-right: 50px;

                & h2 {
                    max-width: 550px;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .SlideShow {
        .arrowRight {
            right: 13%;
        }

        .arrowLeft {
            left: 13%;
        }
    }
}

@media (max-width: 767.98px) {
    .SlideShow {
        padding: 30px 50px 10px 50px;

        .arrowRight {
            right: 7%;
        }

        .arrowLeft {
            left: 7%;
        }


    }
    

    .Descriptif {
        .block {
            flex-direction: column;

            .part2 {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
        }

        .description_equipements {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 50px 10px 50px;

            .collapse {
                width: 100%;
                margin-bottom: 30px;
            }

        }
    }


    .Descriptif {
        .block {
            padding: 30px 50px 10px 50px;

            .part1 {
                margin-right: 50px;

                & h2 {
                    font-size: x-large;
                }
            }
        }
    }
}

@media (max-width: 593px) {
    .Descriptif {
        .block{
            .part1 {
                margin-bottom: 30px;

                & h2 {
                    font-size: large;
                }

                & p {
                    font-size: smaller;
                }

                .tags {
                    .tag {
                        font-size: x-small;
                        padding: 5px 10px 5px 10px;
                    }
                }
            }

            .part2 {
                .name {
                    font-size: medium;
                    .circle img{
                    height: 60px;
                    width: 60px;
                }
                }

                .rating img{
                    height: 30px;
                }
                
            }
        }

        .description_equipements .collapse {
             .header {
                font-size: medium;
                padding: 5px;
            & p {
                font-size: medium;
            }
            .arrow img{
                height: 20px;
                width: 20px;
            }
        }

        .content p {
            font-size: medium;
        }
            .content.open {
                & p {
                    font-size: medium;
                }

                & ul {
                    & li {
                        font-size: medium;
                    }
                }
            }
        }
        
       
    }
}

@media (max-width: 435px) {
    .SlideShow {
        height: 300px;

        .SlideNumber {
            font-size: small;
        }

        .arrowRight {
            right: 13%;
            height: 50px;
        }

        .arrowLeft {
            height: 50px;
            left: 13%;
        }


    }

    .Descriptif {
        .block {
            padding: 20px 50px 10px 50px;

            .part1 {
                margin-right: 0;
                & h2 {
                    font-size: medium;
                }
                & p {
                    font-size: small;
                }

                .tags {
                    .tag {
                        font-size: xx-small;
                        padding: 1px 5px 1px 5px;
                    }
                }
            }
            .part2 {
                .name {
                    & p {
                        font-size: x-small;
                        width: 70px;
                        margin-right: 5px;
                    }

                    .circle img {
                        height: 50px;
                        width: 50px;
                        margin-left: 0;
                    }

                    
                }
                .rating img {
                        height: 20px;
                    }
            }

            
        }

        .description_equipements .collapse{
                .header {
                    & p {
                        font-size: small;
                    }

                    .arrow img {
                        height: 15px;
                        width: 15px;
                    }
                }

                .content p {
                    font-size: x-small;
                }

                .content.open {
                    min-height: 100px;
                    & p {
                        font-size: x-small;
                        line-height: 15px;
                    }

                    & ul li {
                        font-size: x-small;
                    }
                    
                }
            }
    }
}