.SlideShow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 100px 30px 100px;
}
.SlideShow .Slide {
  height: 416px;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.SlideShow .SlideNumber {
  position: absolute;
  font-size: large;
  font-weight: bold;
  top: 84%;
  left: 49%;
  color: white;
}
.SlideShow .arrowRight {
  position: absolute;
  height: 100px;
  top: 45%;
  right: 5%;
  cursor: pointer;
}
.SlideShow .arrowLeft {
  position: absolute;
  height: 100px;
  top: 45%;
  left: 5%;
  cursor: pointer;
}

.Descriptif {
  color: #ff6060;
}
.Descriptif .block {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 30px 100px;
}
.Descriptif .block .part1 h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}
.Descriptif .block .part1 p {
  margin-top: 5px;
  font-size: large;
}
.Descriptif .block .part1 .tags {
  display: flex;
}
.Descriptif .block .part1 .tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  margin-right: 10px;
  padding: 5px 20px 5px 20px;
  width: auto;
  font-size: 15px;
}
.Descriptif .block .part2 {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.Descriptif .block .part2 .name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
}
.Descriptif .block .part2 .name p {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}
.Descriptif .block .part2 .name .circle img {
  background-color: #c4c4c4;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 10px;
}
.Descriptif .description_equipements {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 30px 100px;
}
.Descriptif .collapse {
  color: white;
  width: 45%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.Descriptif .collapse .header {
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-size: x-large;
}
.Descriptif .collapse .arrow {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.Descriptif .collapse .arrow.rotate {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
.Descriptif .collapse p {
  margin: 0;
  font-size: large;
}
.Descriptif .collapse .content {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 5px;
  padding: 0 0 0 20px;
}
.Descriptif .collapse .content p {
  padding: 10px 20px 10px 0;
  line-height: 30px;
}
.Descriptif .collapse .content ul {
  margin: 0;
  padding: 10px 0 10px 0;
}
.Descriptif .collapse .content ul li {
  list-style: none;
  font-size: large;
  margin-bottom: 5px;
}
.Descriptif .collapse .content.open {
  padding: 20px;
}

.Descriptif .description_equipements .collapse {
  margin: 0;
}

@media (max-width: 1650px) {
  .SlideShow .arrowRight {
    right: 7%;
  }
  .SlideShow .arrowLeft {
    left: 7%;
  }
}
@media (max-width: 1250px) {
  .SlideShow .arrowRight {
    right: 8%;
  }
  .SlideShow .arrowLeft {
    left: 8%;
  }
}
@media (max-width: 1020px) {
  .SlideShow .arrowRight {
    right: 10%;
  }
  .SlideShow .arrowLeft {
    left: 10%;
  }
  .Descriptif .block .part1 {
    margin-right: 50px;
  }
  .Descriptif .block .part1 h2 {
    max-width: 550px;
  }
}
@media (max-width: 820px) {
  .SlideShow .arrowRight {
    right: 13%;
  }
  .SlideShow .arrowLeft {
    left: 13%;
  }
}
@media (max-width: 767.98px) {
  .SlideShow {
    padding: 30px 50px 10px 50px;
  }
  .SlideShow .arrowRight {
    right: 7%;
  }
  .SlideShow .arrowLeft {
    left: 7%;
  }
  .Descriptif .block {
    flex-direction: column;
  }
  .Descriptif .block .part2 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .Descriptif .description_equipements {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 10px 50px;
  }
  .Descriptif .description_equipements .collapse {
    width: 100%;
    margin-bottom: 30px;
  }
  .Descriptif .block {
    padding: 30px 50px 10px 50px;
  }
  .Descriptif .block .part1 {
    margin-right: 50px;
  }
  .Descriptif .block .part1 h2 {
    font-size: x-large;
  }
}
@media (max-width: 593px) {
  .Descriptif .block .part1 {
    margin-bottom: 30px;
  }
  .Descriptif .block .part1 h2 {
    font-size: large;
  }
  .Descriptif .block .part1 p {
    font-size: smaller;
  }
  .Descriptif .block .part1 .tags .tag {
    font-size: x-small;
    padding: 5px 10px 5px 10px;
  }
  .Descriptif .block .part2 .name {
    font-size: medium;
  }
  .Descriptif .block .part2 .name .circle img {
    height: 60px;
    width: 60px;
  }
  .Descriptif .block .part2 .rating img {
    height: 30px;
  }
  .Descriptif .description_equipements .collapse .header {
    font-size: medium;
    padding: 5px;
  }
  .Descriptif .description_equipements .collapse .header p {
    font-size: medium;
  }
  .Descriptif .description_equipements .collapse .header .arrow img {
    height: 20px;
    width: 20px;
  }
  .Descriptif .description_equipements .collapse .content.open p {
    font-size: medium;
  }
  .Descriptif .description_equipements .collapse .content.open ul li {
    font-size: medium;
  }
}
@media (max-width: 435px) {
  .SlideShow {
    height: 300px;
  }
  .SlideShow .SlideNumber {
    font-size: small;
  }
  .SlideShow .arrowRight {
    right: 13%;
    height: 50px;
  }
  .SlideShow .arrowLeft {
    height: 50px;
    left: 13%;
  }
  .Descriptif .block {
    padding: 20px 50px 10px 50px;
  }
  .Descriptif .block .part1 {
    margin-right: 0;
  }
  .Descriptif .block .part1 h2 {
    font-size: medium;
  }
  .Descriptif .block .part1 p {
    font-size: small;
  }
  .Descriptif .block .part1 .tags .tag {
    font-size: xx-small;
    padding: 1px 5px 1px 5px;
  }
  .Descriptif .block .part2 .name p {
    font-size: x-small;
    width: 70px;
  }
  .Descriptif .block .part2 .name .circle img {
    height: 50px;
    width: 50px;
    margin-left: 0;
  }
  .Descriptif .block .part2 .rating img {
    height: 20px;
  }
  .Descriptif .description_equipements .collapse .header p {
    font-size: small;
  }
  .Descriptif .description_equipements .collapse .header .arrow img {
    height: 15px;
    width: 15px;
  }
  .Descriptif .description_equipements .collapse .content.open {
    min-height: 100px;
  }
  .Descriptif .description_equipements .collapse .content.open p {
    font-size: x-small;
    line-height: 15px;
  }
  .Descriptif .description_equipements .collapse .content.open ul li {
    font-size: x-small;
  }
}/*# sourceMappingURL=Housing.css.map */