$mainColor : #ff6060;

.kasa-nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px 30px 100px;

    .kasa-nav-liens a {
        color: $mainColor;
        text-decoration: none;
        margin-left: 70px;
        font-size: larger;

    }

    .kasa-nav-liens a.active {
        text-decoration: underline;
    }
}